.root {
    main-color: rgb(156, 189, 239);
    /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #5ebff4;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #5ebff4;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: rgb(0, 187, 255);
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: rgb(0, 132, 255);
    font-size: 20px;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    font-size: 10px;
    -fx-font-size: 10px;
    /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    background-color: #49d5f4;
    -fx-background-color: #9cedff;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    opacity: 0;
    -fx-opacity: 0;
}
